<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1>QuizApp</h1>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('quiz') }}">Quizzes</a></li>
                <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            </ul>
            {% if 'username' not in session %}
                <a href="{{ url_for('login') }}" class="login">Login</a>
            {% else %}

                <a href="{{ url_for('logout') }}" class="cta">Logout</a>
                <a href="{{ url_for('register') }}" class="cta">SignUp</a>
                <div class="profile">
                    <a href="{{ url_for('profile') }}">
                        <img src="../static/images/profile-icon.png" alt="Profile Image">
                    </a>
                    <span>{{ session['username'] }}</span>
                </div>
            {% endif %}
        </div>
    </nav>

    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

   <footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <h1>QuizApp</h1>
        <p>Your ultimate platform for quizzes and learning!</p>
      </div>

      
      <div class="footer-links">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('quiz') }}">Quizzes</a></li>
          <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
        </ul>
      </div>

     
      <div class="footer-social">
        <h3>Follow Us</h3>
       <ul>
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
</ul>

      </div>
    </div>

    
    <div class="footer-bottom">
      <p>&copy; 2025 QuizApp. All Rights Reserved.</p>
    </div>
  </div>
</footer>
</body>
</html>