{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  <section class="hero">
    <h1>Welcome to QuizPro</h1>
    <p>Challenge yourself, learn, and climb the leaderboard!</p>
    {% if 'username' not in session %}
      <a href="{{ url_for('login') }}"><button>Start Now</button></a>
    {% else %}
      <a href="{{ url_for('quiz') }}"><button>Take a Quiz</button></a>
    {% endif %}
  </section>

  
  <section class="features">
    <div class="section-title">
      <h2>Boost Your Knowledge</h2>
      <p>Explore our quizzes and enhance your skills.</p>
    </div>
    <div class="feature-card">
      <a href="{{ url_for('quiz') }}">
        <h3>General Knowledge</h3>
        <p>Test your general knowledge with fun and challenging quizzes.</p>
      </a>
    </div>
    <div class="feature-card">
      <a href="{{ url_for('quiz') }}">
        <h3>Science</h3>
        <p>Dive into the world of science and discover fascinating facts.</p>
      </a>
    </div>
    <div class="feature-card">
      <a href="{{ url_for('quiz') }}">
        <h3>History</h3>
        <p>Learn about historical events and test your memory.</p>
      </a>
    </div>
  </section>
{% endblock %}